body {
	font-family: '游ゴシック', sans-serif;
	color: #5d5d5d;
}

a {
	text-decoration: none;
	color: #5d5d5d;
}

.content {
	display: flex;
	padding-top: 10px;
	justify-content: center;
	-ms-flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	width: 100%;
}

.left {
	width: 500px;
}

.left-content {
	width: 100%;
}

	.left-content img.demo-img {
		display: block;
		width: 340px;
		margin: 0 auto;
		box-shadow: 0 5px 15px -5px rgba(0, 0, 0, .8);
	}

.right-content {
	padding: 0 20px;
}

	.right-content h2 {
		font-size: 48px;
	}

.right-content-info h3 {
	font-size: 33px;
	margin-top: 33px;
}

.right-content-info h4 {
	font-size: 25px;
}

.right-content-info ul {
	display: flex;
	margin-top: .8em;
}

.right-content-info li {
	margin-right: 20px;
}

.right-content-info p {
	font-size: 19px;
	margin-top: 8px;
}

.right-content-info#github a {
	font-weight: 500;
}

	.right-content-info#github a.btn {
		font-size: 22px;
		font-weight: 600;
	}

.right-content-info#link ul {
	list-style: disc;
}

.right-content-info#github div.latest-commit {
	margin-top: 14px;
	margin-bottom: 18px;
}


/*
.right-content-info#github ul {
	margin-bottom: 8px;
}
*/

@media screen and (max-width: 910px) {
	.left {
		width: 100%;
	}

	.right {
		margin-top: 25px;
	}
}
